.container-fluid{
    font-family: 'Tangerine', cursive;
    background-image: url("https://images8.alphacoders.com/427/thumb-1920-427655.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100%;
    width: 100%;
}
#landing{
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 35px;
    font-weight: bold;
}
h1{
    font-size: 90px;
    font-weight: bold;


}
