
{%extends 'base.html'%}

    {%block content%}

<div class="container-fluid" style="background-image: url(https://images8.alphacoders.com/427/thumb-1920-427655.jpg);   background-repeat: no-repeat; background-size: cover;background-position: center;height: 100%;width: 100%;">

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-7">
            <div class="row" style="font-family: 'Tangerine', cursive;  margin-top: 230px; margin-bottom: 230px;font-size: 40px; font-weight:bold; background-color: white; opacity: 6;">
                <div class="col-md-3" style="font-family: 'Cinzel', serif; font-size: 45px; margin-top: 30px;">
                    ABOUT

                </div>
                <div class="col-md-9">
                    {{message}}

                </div>
            </div>



        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

{%endblock%}