
{%extends 'base.html'%}

    {%block content%}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-5">
            <div class="row" style="font-family: 'Tangerine', cursive;  background-image: url(https://images8.alphacoders.com/427/thumb-1920-427655.jpg);   background-repeat: no-repeat; background-size: cover;background-position: center;height: 100%;width: 100%; margin-top: 230px; margin-bottom: 230px;font-size: 40px;">
                <div class="col-md-3" style="font-family: 'Cinzel', serif; font-size: 45px">
                    ABOUT

                </div>
                <div class="col-md-9">
                    {{message}}

                </div>
            </div>



        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

{%endblock%}