
{%extends 'base.html'%}
{%block content%}

<div class="container-fluid" style="background-image: url(https://images8.alphacoders.com/427/thumb-1920-427655.jpg);   background-repeat: no-repeat; background-size: cover;background-position: center;height: 100%;width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navMain" style="color: black; font-size: 35px; font-weight; bold;">
                      
            
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link smooth-scroll" href="/">HOME  |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-scroll" href="">SIGN-UP |</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="">LOGIN |</a>
                        </li>
                   
                </ul>
            </div>
        
    </nav>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-7">
            <div class="row" style="font-family: 'Tangerine', cursive;  margin-top: 230px; margin-bottom: 230px;font-size: 40px; font-weight:bold;color:black; background-color: white; opacity: 0.5;">
                <div class="col-md-3" style="font-family: 'Cinzel', serif; font-size: 45px; margin-top: 30px;">
                    ABOUT

                </div>
                <div class="col-md-9">
                    {{message}}

                </div>
            </div>



        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

{%endblock%}