{%extends "base.html"%}

{%block content%}

<div class="container-fluid" >
    
    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="col-md-6" id="landing" style="margin-bottom:200px; margin-top: 200px; margin-left: 140px; font-size: 70px;font-weight: bold;">
        
            <strong><h1 style="font-size: 150px; font-weight: bolder;">{{name}}</h1></strong>
            <a href="{{url_for('main.new_pitch')}}" class="btn btn-secondary" style="margin-left:110px; font-size: 40px">Add Pitch</a>
            <a href="{{url_for('auth.register')}}"  class="btn btn-secondary" style="margin-left:110px; font-size: 40px" >
                sign-up

            </a>

        </div>

        <div class="col-md-3">

        </div>


    </div>


</div>

{%endblock%}