{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%}




{%endblock%}
{% block content %}
<style>
    .container-fluid{
        font-family: 'Cinzel', cursive;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: black;
        height: 100%;
        width: 100%;
        color: antiquewhite;
    
    
        
    }


</style>
<div class="container-fluid">
    <div class="row">
            <div class="col-md-4 single-source">
                    <div class="row">
                       <u><h1>Business Pitches</h1></u> 
                       <br>
                        {% for pitch in pitches %}
                            {% if pitch.category == 'Business' %}
                    
                            <div class="col-md-4">
                                    <h3> {{pitch.title}} </h3>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-7">
                                    <p> {{pitch.content}}</p> 
                                    <a href="{{url_for('main.post_comment', id=pitch.id)}}">Comment on Pitch</a>           
                                </div>
                            {% endif %}
                        {% endfor %}   
                    </div>
            </div>
            <br>
            <br>
            <div class="col-md-4 single-source">
                    <u><h1>Event Pitches</h1></u>
                    <br> 
                    <div class="row">
                        {% for pitch in pitches %}
                            {% if pitch.category == 'Event' %}
                    
                        <div class="col-md-4">
                            <h3> {{pitch.title}} </h3>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <p> {{pitch.content}}
                                
                                <a href="{{url_for('main.post_comment', id=pitch.id)}}">Comment on Pitch</a>
                            </p>            
                        </div>
                            {% endif %}
                        {% endfor %}   
                    </div>
            </div>
            <br>
            <div class="col-md-4 single-source">
                    <u><h1>Technology Pitches</h1></u> 
                    <br>
                    <div class="row">
                        {% for pitch in pitches %}
                            {% if pitch.category == 'Technology' %}
                    
                            <div class="col-md-4 ">
                                    <h4> {{pitch.title}} </h4>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-7">
                                    <p> {{pitch.content}}
                                        <br>
                                        <a href="{{url_for('main.post_comment', id=pitch.id)}}">Comment on Pitch</a>
                                    </p>            
                                </div>
                            {% endif %}
                        {% endfor %}   
                    </div>
            </div>
            <br>
    </div>



</div>

{% endblock %}
